/* COLOUR PALETTES
#aaabbc  light purple
#8b8982  grayish
#373f47  dark gray
#6c91c2  light blue
#c3c9e9   very light blue
--------------------------*/

/* UNIVERSAL
--------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #373f47;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0; /* remove surrounding white default style */
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3rem;

}
h2 {
  font-size: 1.5rem;
  margin-top: 0;  /* to even out the space between sections */
}
a {
  color: #8b8982;
}

a:hover {
  text-decoration: none;
}

.content-wrapper { /* added div so content stays centered but not the bkground colour too */
  max-width: 950px;   /* max-width instead of width so no horizontal scroll bar if screen is smaller than 950px */
  margin: 0 auto;
  padding: 50px;  /* push content away from edges of container: if not originally each section is separated by white space created by the top header margin */
  overflow: auto; /* for header image: self clear image float */
}

.col-narrow {
  width: 40%;
  float: left;
  min-height: 175px;
}

.col-wide {
  width: 60%;
  float: left;
  padding-left: 20px; /* because we have box model fix: adding padding will not affect total width */
  min-height: 175px;
}

/* HEADER and FOOTER
--------------------------*/

header,
footer {
  background: #aaabbc;

}

/* header */


header h1, header h2 { /* multiple selectors, you have to write each out with parent */
  margin: 0;
}
.profile-image {
   /* width: 300px; height will automatically adjust to aspect ratio */
  border-radius: 50%; /* pixel will give rounded corners */

}

/* footer */
footer {
  text-align: center;
}

.contact-info a {

  /* margin: 10px; does push elemnets away from one another; however, padding will give users wider area to click on */
  padding:10px;
  display: inline-block; /*inline elements: padding and margins only align horizontally not vertically */
}

/* WORK Experience
--------------------------*/
.work {
  background: #6c91c2;
}

/* EDUCATION
--------------------------*/
.education {
  background: #c3c9e9;
}
